:root {
	--text-main: #1a202c;
	--text-secondary: #5e6d87;
	--text-secondary-darker: #4a5568;
	--text-result: #0f51cd;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	background: #edf2f7;
	color: var(--text-main);
	box-sizing: border-box;
}

main {
	display: flex;
}

section.fields {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-right: 1rem;
}

@media (max-width: 600px) {
	main {
		flex-direction: column;
	}
}
