:root {
	--text-main: #1a202c;
	--text-secondary: #5e6d87;
	--text-secondary-darker: #4a5568;
	--text-result: #0f51cd;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	background: #edf2f7;
	color: var(--text-main);
	box-sizing: border-box;
}

main {
	display: flex;
}

section.fields {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-right: 1rem;
}

@media (max-width: 600px) {
	main {
		flex-direction: column;
	}
}

.input-group {
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem 2rem 0;
}

.input-group label {
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	color: var(--text-secondary-darker);
}

.range-labels {
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
	color: var(--text-secondary-darker);
}

.row {
	display: flex;
}

.compound-selector {
	border: 0;
}

.compound-selector legend {
	font-size: 0.9rem;
	padding: 1rem 0 0;
	color: var(--text-secondary-darker);
}
