:root {
	--text-main: #1a202c;
	--text-secondary: #5e6d87;
	--text-secondary-darker: #4a5568;
	--text-result: #0f51cd;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	background: #edf2f7;
	color: var(--text-main);
	box-sizing: border-box;
}

.main-container {
	max-width: 900px;
	margin: 0 auto;
}

main {
	display: flex;
}

section.fields {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-right: 1rem;
}

@media (max-width: 600px) {
	main {
		flex-direction: column;
	}
}

.input-group {
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem 2rem 0;
}

.input-group label {
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	color: var(--text-secondary-darker);
}

#initial-amount-display {
	display: flex;
	margin: 0.5rem 0;
	font-size: 2.1rem;
}

#initial-amount-display .dollar-sign {
	font-size: 0.6em;
	margin-right: 0.5rem;
	margin-top: 0.2rem;
}

.slider {
	margin: 0;
}

.range-labels {
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
	color: var(--text-secondary-darker);
}

.row {
	display: flex;
}

.compound-selector {
	border: 0;
}

.compound-selector legend {
	font-size: 0.9rem;
	padding: 1rem 0 0;
	color: var(--text-secondary-darker);
}

.result {
	flex: 1;
	align-self: baseline;
	background: white;
	color: var(--text-result);
	align-self: baseline;
	border-radius: 5px;
	margin: 3rem 0 0 1rem;
	padding: 3rem 4rem;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.result p {
	margin: 0;
	font-size: 1.2rem;
}

#final-amount {
	display: flex;
	margin: 1.5rem 0 -2rem 0;
	font-size: 4.5rem;
	font-weight: bold;
}

#final-amount .dollar-sign {
	font-size: 0.3em;
	margin-top: 0.6rem;
}

.calculate-button {
	background: #e80000;
	color: white;
	border: 0;
	border-radius: 5px;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	box-shadow: 0 20px 25px -5px rgba(223, 21, 21, 0.37), 0 10px 10px -5px rgba(220, 21, 21, 0.64);
	cursor: pointer;
	transform: translateY(75px);
}

.calculate-button:hover {
	background: #be0000;
}
